<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="transactionManager" class="实例五.TransactionManager" />
	<bean id="forumServiceTarget" class="实例五.ForumService" />
	<bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
		  	p:interceptorNames="transactionManager"
		  	p:target-ref="forumServiceTarget"
		  	p:proxyTargetClass="true"
			/>

	<!-- 因ForumService是类，使用CGLib代理 -->

</beans>
