<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- biz config -->
       <import resource="classpath:spring/applicationContext_resources.xml"/>
       <import resource="classpath:spring/applicationContext_dao.xml"/>

       <!-- export service -->
       <import resource="classpath:spring/motan_server_config.xml"/>


</beans>